* {
    margin: 0;
    padding: 0;
}

.header {
    height: 60px;
    width: 100%;
    background-color: #323232;
}

.content {
    width: 54%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-size: large;
}

#search {
    width: 50%;
    height: 30px;
    border: 0;
    border-radius: 10px;
    outline-style: none;
}

.one,
.two {
    width: 50%;
    margin: 0 auto;
}

.one,
.two h1 {
    margin-top: 10px;
}

tr {
    height: 45px;
    margin-top: 10px;
    background-color: #fefefe;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* width: 100%; */
}

#one,
#two {
    width: 100%;
    margin-top: 10px;
}

#one tr {
    border-left: 10px solid #5d9f9b;
}

#two tr {
    border-left: 10px solid #a8a8a8;
}

td input {
    width: 25px;
    height: 25px;
    margin-left: 35px;
}

p {
    display: block;
    margin-left: 15px;
    /* width: 100px; */
    /* flex: 0.9; */
    width: 37em;
}

.sz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #e9e6f7;
    color: black;
    font-weight: 1000;
}

.a {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #cbcbcb;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#c,
#d {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yi {
    width: 10px;
    height: 1px;
    background-color: #fff;
}